.arrow
{
    position: absolute;
    right: 25px;
}

span.blank2
{
    padding-left: 15px;
}



.portrait
{
    position: absolute;
    top: 70%;
    left: 9%;
}

.word
{
    position: absolute;
    top: 80%;
    left: 9%;

    color: #f00    !important;
}

.connect
{
    width: 260px;

    color: #f00;
}

.italic
{
    font-weight: bold;
    font-style: italic;
}
.icon-contect
{
    width: 45px    !important;
    height: 45px      !important;

    color: #000    !important;
}

.icon-github
{
    width: 47px    !important;
    height: 47px      !important;

    color: #000    !important;
}

.fadein,
.fadeout
{
    -webkit-transition: all cubic-bezier(.250, .460, .450, .940) .75s;
       -moz-transition: all cubic-bezier(.250, .460, .450, .940) .75s;
         -o-transition: all cubic-bezier(.250, .460, .450, .940) .75s;
            transition: all cubic-bezier(.250, .460, .450, .940) .75s;
}




.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active
{
    display: block !important;

    height: 0;

    opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active
{
    display: block !important;

    height: 0;

    opacity: 1;
}
